<style>
.about3 {
  text-align: left;
}
.about3 h3 {
  text-align: center;
}
</style>
<!-- About Section -->
<section id="about3" class="about3">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
<h4 id="theme">Theme</h4>
<p>2020 coronavirus pandemic is an ongoing pandemic of coronavirus disease 2019 (COVID-19), caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2).
</p>

<p>Blockchain has been proposed as a system for enabling various entities to contribute into maintaining a common ledger of a digital history with little friction and seamless circulation.</p>
<p>The development and deployment of Blockchain-based systems, and their applications, need to take into consideration new requirements and challenges, thereby raising novel open issues and research themes:</p>
<ul>
<li>Design and engineering improvements to the protocols and architectures underpinning Distributed Ledger Technologies (including Blockchains).</li>
<li>The convergence of the technology with other emerging technologies (e.g., AI, IoT) that are becoming key elements of the fourth industrial revolution.</li>
<li>Gaining insights of the technical, business, legal, and societal implications of cryptocurrency and blockchain technologies, including real-life applications and case studies.</li>
</ul>
<p>List of Topics (Indicative list, other related topics will also be considered):</p>
<ul>
<li>Coronavirus Technology</li>
<li>Virtual Assistant</li>
<li>Dialog System</li>
<li>Industry 4.0 transformation and Blockchains</li>
<li>Data Science in Blockchains</li>
<li>Enabling novel Consensus and Fault Tolerance Mechanisms</li>
<li>Game Theory in Distributed Ledgers (including Blockchains)</li>
<li>Convergence of Blockchains with Artificial Intelligence (AI), Internet of Things (IoT)</li>
<li>Experience Papers/ Use-cases with Blockchain</li>
<li>Governance, and Incentivised Models for Blockchains</li>
<li>Barriers and Enablers in Blockchain adoption</li>
<li>Formal verification of protocols and Smart Contracts</li>
<li>Interoperability of Blockchains with existing Business Models and Processes</li>
<li>Legal, ethical and societal aspects of digital-currencies and Blockchains</li>
<li>Verticals using Blockchain (financial, e-health, energy, logistics, supply-chain etc.)</li>
<li>Blockchain in e-government and public administration</li>
<li>Technology and infrastructure challenges in Blockchains</li>
<li>Decentralized Autonomous Organizations (DAO)</li>
<li>Attacks and Security considerations on Blockchains</li>
<li>Public, Private and Hybrid Blockchains (permission-less vs. permissioned)</li>
</ul>
        </div>
    </div>
</section>
<!-- End About Section -->

