<style>
.about2 {
  text-align: left;
}
.about2 h3 {
  text-align: center;
}
</style>
<!-- About Section -->
<section id="about2" class="about2">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.aboutTitle }}</h3>
<h4 id="vision">Vision</h4>
<p>CTA Platform Conference (CTAPC) positions itself as Taiwan’s premier conference on AI system(with special focus on Coronavirus in 2020; See <a herf="http://infolab.stanford.edu/~echang/cs372/cs372-syllabus.html">cs372.stanford.edu</a>). Unlike many AI meetups that are filled with tons of marketing and speculation, we go through rigorous research, peer reviews and solid data-driven experiments. Past successes in Taiwan such as PC and semiconductor revolutions all build upon solid systems as foundation. That’s why CTAPC focuses on long-term quality results and in turn will help you focus on the most important thing today: Distinguish impact from noise and invest on the impact instead of ephemeral fireworks.</p>
<p>CTAPC 2020 brings together the world’s leading experts to articulate current trends and future developments across three conference tracks: Coronaviurs Technology and AI, as known as CTA. The conference will take place in Taiwan on May 22 to 23</p>
<p>As an active participant in the field, your opinions and expertise are very valuable and important for the success of the Conference. You are cordially invited!</p>

<!-- CTAPC 2019
<p>CTA Platform Conference (CTAPC) positions itself as Taiwan’s premier conference on AI &amp; blockchain. Unlike today’s AI+blockchain meetups that are filled with tons of marketing and speculation, we go through rigorous research, peer reviews and solid data-driven experiments. Past successes in Taiwan such as PC and semiconductor revolutions all build upon solid foundation. The upcoming fintech and blockchain revolution will be no exception. That’s why CTAPC focuses on long-term quality results and in turn will help you focus on the most important thing today: Distinguish impact from noise and invest on the impact instead of ephemeral fireworks.</p>
<p>CTAPC 2019 brings together the world’s leading experts to articulate current trends and future developments across three conference tracks: Chain, Token and AI, as known as CTA. The conference will take place in Taiwan on April 26 to 27 and May 3, 10, 17, 24 to 26.</p>
<p>As an active participant in the field, your opinions and expertise are very valuable and important for the success of the Conference. You are cordially invited!</p>
-->
        </div>
    </div>
</section>
<!-- End About Section -->
