<style>
.sponsor-class {
	font-size: 140%;
	margin-left: 40px;
}
.sponsor-column{
	text-align: left;
	font-size: 120%;
}
.sponsor-info {
	text-align: left;
	font-size: 120%;
	margin-top: 50px;
}
</style>
<section id="sponsor">
	<div class="row">
	<div class="col-lg-3 col-lg-offset-1">
		<div class="sponsor-column">
		<div class="sponsor-class">鑽石級</div>
			<ul>
				<li class="">贊助金額： NTD 60,000</li>
				<li class="">大會列名：主要贊助商</li>
				<li class="">權益：</li>
				<ol>
					<li>專題演講</li>
					<li>徵才攤位</li>
					<li>隨資料袋發送廣告文宣</li>
					<li>LOGO 露於會場及研討會網站</li>
					<li>協會會員一年</li>
				</ol>
			</ul>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="sponsor-column">
			<div class="sponsor-class">白金級</div>
			<ul>
				<li class="">贊助金額： NTD 40,000</li>
				<li class="">大會列名：主要贊助商</li>
				<li class="">權益：</li>
				<ol>
					<li>專題演講、徵才攤位擇一</li>
					<li>隨資料袋發送廣告文宣</li>
					<li>LOGO 露於會場及研討會網站</li>
				</ol>
			</ul>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="sponsor-column">
			<div class="sponsor-class">黃金級</div>
			<ul>
				<li class="">贊助金額： NTD 20,000</li>
				<li class="">大會列名：贊助商</li>
				<li class="">權益：</li>
				<ol>
					<li>LOGO 露於會場及研討會網站</li>
				</ol>
			</ul>
		</div>
	</div>
	</div>
	<div class="row sponsor-info">
		<div class="col-lg-10 col-lg-offset-1">
			<ul>
				<li>如有意願贊助本次活動，請聯繫 <a href="mailto:apacbcd@gmail.com">apacbcd@gmail.com</a>。</li>
			</ul>
		</div>
	</div>
</section>
